body{
    background-image:url(../pics/bg1.jpg);
}
#con{
    margin-left: 43%;
    color:green;
}
#main{
    width: 400px;
    height: 400px;
    margin: auto;
    border: 1px solid gray;
    overflow-y: scroll;
    background-color: white;
    
}
#ulist{
    list-style: none;
    margin-top: 10px;
    margin-left: 0px;
 /*   border: 1px solid black;*/
}
.alpha{
    top: 0px;
    margin-left: 0px;
    width:inherit;
    color:green;
    font-weight: 600;
    font-size: 33px;
    
    position: sticky;
   /* margin-top: 10px;*/
    background-color: lavender;
   /* border: 1px solid black;*/
    
    
}
.name{
    margin-left: 10px;
    font-size: 25px;
    font-weight: 500;
    
}

.number{
    margin-left: 28px;
    font-weight: 100;
    color:gray;
}
.line{
    width: 80%;
    margin-left: 10px;

}