body{
    background-color: #9381ff;
}
#heading{
    text-align: center;
    color: white;
    font-size: 60px;
    font-family: sans-serif;
}
/* #todo{
    display: flex;
    justify-content: center;
    /* border: 2px solid red; */

#todobox{
    width: 300px;
    height:30px;
    background-color: white;
    align-self: center;
    border: none;
    margin-right: 20px;
}
#txtbtn{
    display: flex;
    justify-content: center;
}
#todobox:focus{
    outline: none;
/* border:2px solid red; */
}
#btnAdd{
    width: 70px;
    height: 30px;
    border: none;
    background-color: #c2dfe3;
    color: white;
}
#btnAdd:hover{
    cursor: pointer;
}
#btnAdd:active{
    /* transform: translate(12px); */
       transform: scale(1.1);
}
#showlist{
    margin: auto;
    /* border: 2px solid red; */
    background-color: white;
    margin: auto;
    width: 400px;
    /* height: 30px; */
    /* font-weight: 100; */
    /* font-family: sans-serif; */
    /* list-style: none; */
}
li{
    list-style: none;
    height: 30px;
    font-weight: 100;
    font-size: 20px;
    font-family: sans-serif;
    /* border: 2px solid red; */
    border-bottom: 1px solid lightgray;
    margin-top: 5px;
    /* vertical-align: text-bottom; */
    /* margin-bottom: 0px; */
    line-height: 40px;
    /* list-style-image: url(pics/delete.jfif); */
}
